<ng-template #modalCreacionAliado let-modal>
    <div class="modal-header">
      <h4 class="modal-title fs-14px  fw-bolder texto-naranja">Crear Aliado</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="this.formulario" class="d-flex flex-column flex-gap-10">
            <div class="row">
                <div class="col-1">
                    <fieldset>
                        <label for="">Orden</label>
                        <input type="number" class="form-control" formControlName="orden">
                        <span class="validacion"
                            *ngIf="this.formulario.controls['orden'].invalid && 
                            this.formulario.controls['orden'].dirty">
                            Requerido.
                        </span>
                    </fieldset>
                </div>
                <div class="col-5">
                    <fieldset>
                        <label for="">Nombre del aliado</label>
                        <input type="text" class="form-control" formControlName="nombre">
                        <span class="validacion"
                            *ngIf="this.formulario.controls['nombre'].invalid && 
                            this.formulario.controls['nombre'].dirty">
                            Nombre requerido.
                        </span>
                    </fieldset>
                </div>
                <div class="col-5">
                    <fieldset>
                        <label for="">NIT</label>
                        <input type="number" class="form-control" formControlName="nit">
                        <span class="validacion"
                            *ngIf="this.formulario.controls['nit'].invalid && 
                            this.formulario.controls['nit'].dirty">
                            NIT requerido.
                        </span>
                    </fieldset>
                </div>
                <div class="col-1">
                    <fieldset>
                        <label for="">Comisión</label>
                        <input type="text" class="form-control" formControlName="comision">
                        <span class="validacion"
                            *ngIf="this.formulario.controls['comision'].invalid && 
                            this.formulario.controls['comision'].dirty">
                            Requerido.
                        </span>
                    </fieldset>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-6">
                    <fieldset>
                        <label for="">Enlace amigable</label>
                        <input type="text" class="form-control" formControlName="enlaceAmigable">
                        <span class="validacion"
                            *ngIf="this.formulario.controls['enlaceAmigable'].invalid && 
                            this.formulario.controls['enlaceAmigable'].dirty">
                            Enlace requerido.
                        </span>
                    </fieldset>
                </div>
                <div class="col-4">
                    <fieldset>
                        <label for="">Logo</label>
                        <input type="file" class="form-control" accept="image/*" formControlName="logo" (change)="this.cambioDeLogo($event)">
                        <span class="validacion"
                            *ngIf="this.formulario.controls['logo'].invalid && 
                            this.formulario.controls['logo'].dirty">
                            Selecciona una imagen.
                        </span>
                    </fieldset>
                </div>
                <div class="col-2">
                    <fieldset>
                        <label for="">Tiempo (en días)</label>
                        <input type="number" class="form-control" formControlName="tiempo">
                        <span class="validacion"
                            *ngIf="this.formulario.controls['tiempo'].invalid && 
                            this.formulario.controls['tiempo'].dirty">
                            Requerido.
                        </span>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="boton-flamingo rojo delineado" (click)="modal.close('Close click')">Cerrar</button>
        <button type="button" class="boton-flamingo rojo relleno" (click)="this.crearAliado()">
            <img src="assets/img/+.svg" alt=""> 
            Crear Aliado
        </button>
    </div>
</ng-template>

<app-popup #popup></app-popup>