<ng-template #modal let-modal>
    <div class="modal-header">
      <h4 class="modal-title fs-14px  fw-bolder texto-naranja">Editar Aliado</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" *ngIf="aliado">
        <div class="d-flex flex-gap-5 align-items-center">
            <span class="fs-14px">Aliado: </span>
            <span class="fs-14px fw-bold">{{aliado.nombre}}</span>
            <div><img class="logo-aliado" [src]="aliado.logo" alt="logo-aliado"></div>
        </div>
        <form [formGroup]="this.formulario" class="d-flex flex-column flex-gap-10">
            <div class="row">
                <div class="col-1">
                    <fieldset>
                        <label for="">Orden</label>
                        <input type="number" class="form-control" formControlName="orden">
                    </fieldset>
                </div>
                <div class="col-5">
                    <fieldset>
                        <label for="">Nombre del aliado</label>
                        <input type="text" class="form-control" formControlName="nombre">
                    </fieldset>
                </div>
                <div class="col-5">
                    <fieldset>
                        <label for="">NIT</label>
                        <input type="number" class="form-control" formControlName="nit">
                    </fieldset>
                </div>
                <div class="col-1">
                    <fieldset>
                        <label for="">Comisión</label>
                        <input type="text" class="form-control" formControlName="comision">
                    </fieldset>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-6">
                    <fieldset>
                        <label for="">Enlace amigable</label>
                        <input type="text" class="form-control" formControlName="enlaceAmigable">
                    </fieldset>
                </div>
                <div class="col-4">
                    <fieldset>
                        <label for="">Logo</label>
                        <input type="file" class="form-control" aria-label="" formControlName="logo" (change)="this.cambioDeLogo($event)">
                    </fieldset>
                </div>
                <div class="col-2">
                    <fieldset>
                        <label for="">Tiempo (en días)</label>
                        <input type="number" class="form-control" formControlName="tiempo">
                    </fieldset>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-2">
                    <fieldset>
                        <label for="">Transaccional</label>
                        <div class="mt-2 ms-3">
                            <label class="switch">
                                <input #transaccional type="checkbox" formControlName="transaccional">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </fieldset>
                </div>
                <div class="col-5">
                    <fieldset>
                        <label>¿Quienes somos?</label>
                        <textarea type="number" class="form-control" formControlName="quienesSomos" disable></textarea>
                    </fieldset>
                </div>
                <div class="col-5">
                    <fieldset>
                        <label>Servicios</label>
                        <textarea type="number" class="form-control" formControlName="servicios"></textarea>
                    </fieldset>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-6">
                    <fieldset>
                        <label for="">Línea</label>
                        <input type="text" class="form-control" formControlName="linea">
                        <span class="validacion"
                            *ngIf="this.formulario.controls['linea'].invalid && 
                            this.formulario.controls['linea'].dirty">
                            Línea requerida.
                        </span>
                    </fieldset>
                </div>
                <div class="col-6">
                    <fieldset>
                        <label for="">Whatsapp</label>
                        <input type="text" class="form-control" formControlName="whatsapp">
                        <span class="validacion"
                            *ngIf="this.formulario.controls['whatsapp'].invalid && 
                            this.formulario.controls['whatsapp'].dirty">
                            Whatsapp requerido.
                        </span>
                    </fieldset>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-2">
                    <fieldset>
                        <label for="">Imagen personalizada modal de redirección</label>
                        <div class="mt-2 ms-3">
                            <label class="switch">
                                <input type="checkbox" formControlName="imagenPersonalizada">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </fieldset>
                </div>
                <div class="col-5">
                    <fieldset>
                        <label for="">Imagen modal de redirección (Desktop)</label>
                        <app-input-archivo nombre="imagenDesktop" formControlName="imagenDesktop"></app-input-archivo>
                    </fieldset>
                </div>
                <div class="col-5">
                    <fieldset>
                        <label for="">Imagen modal de redirección (Mobile)</label>
                        <app-input-archivo nombre="imagenMobile" formControlName="imagenMobile"></app-input-archivo>
                    </fieldset>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-6">
                    <fieldset>
                        <label for="">Acepta método de pago TC mefia</label>
                        <div class="mt-2 ms-3">
                            <label class="switch">
                                <input type="checkbox" formControlName="mefia">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </fieldset>
                </div>
                <div class="col-6">
                    <fieldset>
                        <label for="">Acepta método de pago El fiao</label>
                        <div class="mt-2 ms-3">
                            <label class="switch">
                                <input type="checkbox" formControlName="elfiao">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="boton-flamingo rojo delineado" (click)="modal.close('Close click')">Cerrar</button>
        <button type="button" class="boton-flamingo rojo relleno" (click)="this.actualizarAliado()">
            Guardar Cambios
        </button>
    </div>
</ng-template>

<app-popup #popup></app-popup>