<div class="row mb-3">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <span class="fw-semibold fs-14px texto-naranja">Filtros de búsqueda</span>
            </div>
            <div class="card-body d-flex flex-column">
                <div class="mb-3">
                    <form [formGroup]="formulario">
                        <div class="row">
                            <div class="col">
                                <fieldset>
                                    <label for="">Correo de usuario</label>
                                    <input formControlName="correo" class="form-control" type="text">
                                </fieldset>
                            </div>
                            <div class="col">
                                <fieldset>
                                    <label for="">Asesor</label>
                                    <input formControlName="asesor" class="form-control" type="number">
                                </fieldset>
                            </div>
                            <div class="col">
                                <fieldset>
                                    <label for="">Aliado</label>
                                    <select formControlName="aliado" class="form-select" name="" id="">
                                        <option value="" selected>Elige un aliado</option>
                                        <option [value]="aliado.id" *ngFor="let aliado of aliados">{{aliado.nombre}}</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col">
                                <fieldset>
                                    <label for="">Fecha inicial</label>
                                    <input formControlName="fechaInicial" class="form-control" type="date">
                                </fieldset>
                            </div>
                            <div class="col">
                                <fieldset>
                                    <label for="">Fecha Final</label>
                                    <input formControlName="fechaFinal" class="form-control" type="date">
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="d-flex">
                    <button (click)="this.aplicarFiltros()" class="ms-auto boton-flamingo rojo relleno">Buscar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col mb-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div id="fecha-reporte-ventas" class="col d-flex flex-column align-items-center p-4">
                        <span class="fs-14px fw-semibold texto-naranja">Reporte de ventas:</span>
                        <span class="fs-14px fw-semibold">{{this.descripcionDeFecha}}</span>
                    </div>
                    <div class="col d-flex justify-content-center p-4 flex-gap-20">
                        <div class="d-flex align-items-center"><img src="assets/img/ventas.svg" alt=""></div>
                        <div class="d-flex align-items-center fs-12px text-center fw-semibold"><span>Valor de las <br> ventas totales.</span></div>
                        <div class="d-flex align-items-center"><span class="fs-25px fw-extrabold texto-naranja">{{this.totalVentas | currency: ''}}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <span class="fs-14px fw-semibold texto-naranja">Ventas totales por aliado</span>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-6">
                        <div class="d-flex flex-gap-10 mb-2">
                            <div class="d-flex flex-gap-10">
                                <div class="d-flex align-items-center">
                                    <span class="fs-12px">Buscar</span>
                                </div>
                                <div>
                                    <input class="form-control sm" type="text" >
                                </div>
                                <div>
                                    <button class="boton-flamingo rojo relleno">Buscar</button>
                                </div>
                            </div>
                            <div>
                                <span class="texto-gris fs-12px fw-bolder">Total: </span>
                                <span class="texto-naranja fs-12px fw-bold">{{this.totalRegistrosTotalesVentasAliados}}</span>
                            </div>
                            <div class="d-flex justify-self-end flex-gap-5 ms-auto">
                                <span class="texto-gris fs-12px fw-bold d-flex align-items-center">ver</span>
                                <span class="texto-gris fs-12px fw-bold align-items-center">
                                    <select #selectPorPaginaTotales class="form-select sm" (change)="this.cambiarPorPaginaTotalesVentasAliados(selectPorPaginaTotales.value)">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                    </select>
                                </span>
                                <span class="texto-gris fs-12px fw-bold d-flex align-items-center">registros</span>
                            </div>
                        </div>
                        <div class="contenedor-tabla d-flex table-responsive ">
                            <table class="table border fs-12px">
                                <thead>
                                <tr>
                                    <th scope="col">Aliado</th>
                                    <th scope="col">Valor de ventas totales</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let total of this.totalesVentasAliados">
                                        <td scope="col">{{total.aliadoNombre}}</td>
                                        <td scope="col">{{total.totalVentas | currency: ''}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex">
                            <div class="ms-auto">
                                <ngb-pagination
                                [collectionSize]="this.totalRegistrosTotalesVentasAliados" [pageSize]="this.porPaginaTotalesVentasAliados">
                                </ngb-pagination>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 d-flex flex-column">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="contenedor-grafico">
                                <canvas #baseChart></canvas>
                            </div>
                        </div>
                        <div class="reportes-aliado">
                            <div class="reporte-aliado d-flex flex-column" *ngFor="let total of this.totalesVentasAliados">
                                <div class="rounded-circle overflow-hidden logo mb-2">
                                    <img class="img-fluid" [src]="total.aliadoLogo" alt="">
                                </div>
                                <span class="fs-12px">{{total.totalVentas | currency: ''}}</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <span class="fs-14px fw-semibold texto-naranja">Registro de ventas</span>
            </div>
            <div class="card-body">
                <div class="d-flex flex-gap-10 mb-2">
                    <div class="d-flex flex-gap-10">
                        <div class="d-flex align-items-center">
                            <span class="fs-12px">Buscar</span>
                        </div>
                        <div>
                            <input #inputTermino (keyup)="this.cambiarTermino(inputTermino.value)" class="form-control sm" type="text">
                        </div>
                        <div>
                            <button (click)="this.aplicarFiltros()" class="boton-flamingo rojo relleno">Buscar</button>
                        </div>
                    </div>
                    <div>
                        <span class="texto-gris fs-12px fw-bolder">Total: </span>
                        <span class="texto-naranja fs-12px fw-bold">{{this.totalRegistros}}</span>
                    </div>
                    <div class="d-flex justify-self-end flex-gap-5 ms-auto">
                        <span class="texto-gris fs-12px fw-bold d-flex align-items-center">ver</span>
                        <span class="texto-gris fs-12px fw-bold align-items-center">
                            <select #selectPorPagina class="form-select sm" (change)="this.cambiarPorPaginaVentas(selectPorPagina.value)">
                                <option value="5">5</option>
                                <option value="10" selected>10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                                <option value="300">300</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                            </select>
                        </span>
                        <span class="texto-gris fs-12px fw-bold d-flex align-items-center">registros</span>
                    </div>
                </div>
                <div class="contenedor-tabla d-flex table-responsive ">
                    <table class="table border fs-12px" #tablaVentas>
                        <thead>
                        <tr>
                          <th scope="col">Aliado</th>
                          <th scope="col"># Order</th>
                          <th scope="col">Fecha creación order</th>
                          <th scope="col">Producto</th>
                          <th scope="col">Categoría</th>
                          <th scope="col">Valor flete</th>
                          <th scope="col">Valor</th>
                          <th scope="col">Asesor</th>
                          <th scope="col">Correo electrónico</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let venta of this.ventas">
                                <td scope="col">{{venta.aliadoNombre}}</td>
                                <td scope="col">{{venta.ordenCompra}}</td>
                                <td scope="col">{{venta.fechaOrden}}</td>
                                <td scope="col">{{venta.productos}}</td>
                                <td scope="col">{{venta.categorias}}</td>
                                <td scope="col">{{venta.flete}}</td>
                                <td scope="col">{{venta.valorTotal}}</td>
                                <td scope="col">{{venta.asesorTrafico}}</td>
                                <td scope="col">{{venta.correos}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex">
                    <div>
                        <button class="boton-flamingo rojo relleno" (click)="exportarExcel()">
                            Exportar informe completo
                        </button>
                    </div>
                    <div class="ms-auto">
                        <ngb-pagination
                        [collectionSize]="this.totalRegistros" [pageSize]="this.porPagina">
                        </ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>