<div class="d-flex flex-column flex-gap-30">
    <div class="d-flex justify-content-end">
        <button 
            type="button" 
            class="boton-flamingo rojo relleno"
            (click)="abrirModalCrear()"
            >
            <img src="assets/img/+.svg" class="me-1" > Crear producto
        </button>
    </div>
    <div class="row">
        <div class="col-12">

            <div class="card w-100">
                <div class="card-header texto-naranja fs-14px fw-bold">
                    Lista de productos
                </div>
                <div class="card-body">
                    <div class="d-flex">
                        <div>
                            <span class="texto-gris fs-12px fw-bolder">Total: </span>
                            <span class="texto-naranja fs-12px fw-bold"> 10 </span>
                        </div>
                        <div class="d-flex justify-self-end flex-gap-5 ms-auto mb-3">
                            <span class="texto-gris fs-12px fw-bold d-flex align-items-center">Ver</span>
                            <span class="texto-gris fs-12px fw-bold align-items-center">
                                <select #porPagina class="form-select sm" name="" id="">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                </select>
                            </span>
                            <span class="texto-gris fs-12px fw-bold d-flex align-items-center">Registros</span>
                        </div>
                    </div>
                    <div class="contenedor-tabla d-flex table-responsive ">
                        <table class="table border fs-12px">
                            <thead>
                            <tr>
                              <th scope="col">Nombre producto</th>
                              <th scope="col">Aliado</th>
                              <th scope="col">Activo</th>
                              <th scope="col" colspan="2">Enlace amigable</th>
                              <th scope="col" colspan="1">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let producto of productos; let index = index">
                                <td>{{ producto.nombre }}</td>
                                <td>{{ producto.idAliado }}</td>
                                <td>
                                    <label class="switch">
                                        <input type="checkbox" [checked]="producto.estado" (change)="cambiarEstadoProducto(producto.id)">
                                        <span class="slider round"></span>
                                    </label>
                                    <label class="ms-1 fw-semibold fs-12px" *ngIf="producto.estado">Si</label>
                                    <label class="ms-1 fw-semibold fs-12px" *ngIf="!producto.estado">No</label>
                                </td>
                                <td>{{ producto.linkAmigable }}</td>
                                <td><span class="copiar-portapapeles"></span></td>
                                <td><span class="texto-rojo fw-bolder cursor-pointer" (click)="abrirModalActualizar(producto)">Editar</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex">
                        <div class="ms-auto">
                            <ngb-pagination
                            [collectionSize]="10" [page]="1" [pageSize]="5">
                            </ngb-pagination>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</div>

<app-modal-crear-producto #modalCrear></app-modal-crear-producto>
<app-modal-actualizar-producto #modalActualizar></app-modal-actualizar-producto>
<app-popup #popup></app-popup>